.main {
  background-image: url("./Images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Nunito Sans", sans-serif;
  padding: 40px 120px 40px 120px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: start;
}
.logo img {
  height: 40px;
  width: 40px;
  margin-right: 8px;
}
.logo h3 {
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
}

/*navbar*/
.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navMenu .hamburger {
  display: none;
}
.navMenu ul {
  display: flex;
}
.navMenu li {
  list-style-type: none;
}
.navMenu a {
  text-decoration: none;
  display: block;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 40px;
  margin-right: 40px;
}
.navMenu a:hover {
  color: #ff5151;
}
.navMenu button {
  width: 157px;
  height: 44px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  padding: 12px 8px 10px 8px;
}
.navMenu .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*about us*/
.aboutUs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutUs h1 {
  font-size: 60px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffffff;
  text-align: start;
  padding-bottom: 50px;
}
.aboutUs p {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  color: rgba(255, 255, 255, 0.7);
}
.aboutUs img {
  width: 776px;
}
.aboutUs .ourServiceButton {
  width: 204px;
  height: 58px;
  background-color: #ff5151;
  border-radius: 4px;
  border: none;
}
.aboutUs .ourServiceButton a {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  text-decoration: none;
  gap: 14px;
}
.aboutUs .ourServiceButton img {
  width: 967.05px;
  height: 939px;
}
.aboutUs .ourServiceButton a::after {
  padding-left: 14px;
  content: url("/Images/arrow.png");
}

/*Our services*/
.ourServices {
  margin-top: 200px;
  margin-bottom: 200px;
}
.ourServices h1 {
  font-size: 60px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffffff;
  text-align: center;
  padding-bottom: 50px;
}
.ourServices .service {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*service*/
.service h6 {
  font-weight: 600;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}
.service p {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
.service .uiDesign {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 39px 35px 52px 35px;
}
.service .uiDesign:hover {
  border: 1px solid #6D6665;
  border-radius: 40px;
}
.service .uiDesign img {
  background-color: rgba(84, 84, 212, 0.1);
  padding: 21px 20px;
  border-radius: 50px;
}
.service .graphicDesign {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 39px 35px 52px 35px;
}
.service .graphicDesign:hover {
  border: 1px solid #6D6665;
  border-radius: 40px;
}
.service .graphicDesign img {
  background-color: rgba(240, 64, 55, 0.1);
  padding: 21px 20px;
  border-radius: 50px;
}
.service .motionDesign {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 39px 35px 52px 35px;
}
.service .motionDesign:hover {
  border: 1px solid #6D6665;
  border-radius: 40px;
}
.service .motionDesign img {
  background-color: rgba(254, 220, 90, 0.1);
  padding: 21px 20px;
  border-radius: 50px;
}

.portfolio {
  margin-top: 200px;
  margin-bottom: 200px;
}
.portfolio h1 {
  font-size: 60px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffffff;
  text-align: start;
  padding-bottom: 50px;
}
.portfolio .navigationTab {
  margin-bottom: 43px;
}
.portfolio .navigationTab ul {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 0px;
}
.portfolio .navigationTab li {
  list-style-type: none;
  text-align: start;
}
.portfolio .navigationTab a {
  text-decoration: none;
  display: block;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 40px;
  margin-right: 40px;
}
.portfolio .navigationTab a:hover {
  background-color: #ff5151;
  border-radius: 4px;
  padding: 5px 16px 5px 16px;
  color: #ffffff;
  transition: 0.5s;
}
.portfolio .portfolioDetails {
  display: flex;
  align-items: start;
  justify-content: center;
}
.portfolio .project1 {
  padding-right: 57px;
}
.portfolio .project1 img {
  width: 555px;
  height: 446px;
}
.portfolio .project1 h3 {
  color: #ffffff;
}
.portfolio .project1 p {
  color: rgba(255, 255, 255, 0.7);
}
.portfolio .project1 button {
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  color: #ffffff;
  padding: 12px 27px 12px 27px;
}
.portfolio .project {
  display: flex;
  align-items: start;
  justify-content: center;
  padding-bottom: 33.66px;
}
.portfolio .project img {
  width: 282px;
  height: 212.34px;
}
.portfolio .project h4 {
  color: #ffffff;
  margin-top: 0px;
}
.portfolio .project p {
  color: rgba(255, 255, 255, 0.7);
}

.testimonialHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonialHeader h1 {
  font-size: 60px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffffff;
  text-align: start;
  padding-bottom: 50px;
}
.testimonialHeader img {
  width: 20px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  padding: 10px;
}
.testimonialHeader img:hover {
  background-color: #ff5151;
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews .bigImg img {
  border-radius: 12px;
  margin-right: 24px;
}
.reviews .review1 {
  display: flex;
  width: 500px;
  height: 335px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 20px;
}
.reviews .review1 h1 {
  color: #ffffff;
}
.reviews .review1 p {
  color: rgba(255, 255, 255, 0.7);
}
.reviews .review1 .review1Content {
  padding-top: 19px;
}
.reviews .review {
  width: 200px;
  height: 335px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  margin-left: 24px;
}
.reviews .review h1 {
  margin-top: 0px;
  text-align: center;
  color: #ffffff;
}
.reviews .review p {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
.reviews .review .stars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 29px;
}
.reviews .clientDetail1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews .clientDetail1 h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffffff;
}
.reviews .clientDetail1 small {
  color: rgba(255, 255, 255, 0.7);
}
.reviews .clientDetail1 img {
  margin-right: 13px;
  width: 53px;
  height: 53px;
  border-radius: 50px;
}
.reviews .clientDetail {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews .clientDetail h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffffff;
}
.reviews .clientDetail small {
  color: rgba(255, 255, 255, 0.7);
}
.reviews .clientDetail img {
  margin-right: 13px;
  width: 53px;
  height: 53px;
  border-radius: 50px;
}

/*footer*/
.footerSection {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 200px;
}
.footerSection .contactForm {
  padding-left: 20px;
}
.footerSection .contactForm h1 {
  color: #ffffff;
  margin-top: 0px;
}
.footerSection .contactForm form .emailNumber {
  display: flex;
}
.footerSection .contactForm form .messageSubmit {
  display: flex;
  align-items: end;
}
.footerSection .contactForm textarea {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-top: none;
  border-left: none;
  border-right: none;
  margin-right: 30px;
  width: 300px;
}
.footerSection .contactForm label {
  display: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 27px;
}
.footerSection .contactForm input {
  color: #ffffff;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-top: none;
  border-left: none;
  border-right: none;
  margin-right: 30px;
  width: 300px;
}
.footerSection .contactForm .submitButton {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: white;
  width: 162px;
  height: 44px;
}

.address .contact {
  display: flex;
  align-items: start;
  margin-top: 48px;
}
.address .contact p {
  margin-right: 50px;
}
.address h3 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-right: 50px;
  color: #ffffff;
}
.address p {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 0px;
}
.address .socials {
  display: flex;
  align-items: center;
}
.address .socials img {
  width: 36px;
}
.address .socials p {
  margin-left: 21px;
  margin-top: 22px;
}

.privacy {
  display: flex;
  justify-content: space-between;
}
.privacy p {
  margin-right: 24px;
}

.bottomSection {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
}
.bottomSection p {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

/*Responsive*/
@media only screen and (max-width: 900px) {
  .navbar .active {
    height: 400px !important;
  }
  .navbar .active ul {
    opacity: 1 !important;
  }
  .navMenu {
    padding-left: 50px;
    padding-right: 50px;
  }
  .navMenu .hamburger {
    display: block;
    cursor: pointer;
  }
  .navMenu .navbar {
    position: absolute;
    height: 0;
    top: 127px;
    left: 0px;
    right: 0px;
    width: 100vw;
    overflow: hidden;
  }
  .navMenu .navbar ul {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    opacity: 0;
  }
  .navMenu .navbar li {
    margin-bottom: 24px;
  }
}/*# sourceMappingURL=index.css.map */